.navbar {
    padding: 0 24px !important;
}

.search {
    border: 0 !important;
    background-color: #eef3f8 !important;
    vertical-align: middle;
}


.dropdown-wrapper {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}

.link-dropdown {
    align-items: center;
    background: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 400;
    justify-content: center;
    line-height: 1.5;
    min-height: 52px;
    min-width: 80px;
    position: relative;
    text-decoration: none;
}

.img-dropdown {
    border-radius: 50%;
    align-items: center;
    background: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.text-dropdown {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.main-dropdown {
    font-size: 16px;
    color: black;
    font-weight: 500;
}

.secondary-dropdown {
    font-size: 14px;
    color: #666666;
}

.line {
    border-right: 2px solid #e0e0e0 !important;
}