.navbar {
    padding: 0 !important;
    border-bottom: 1px solid #e0e0e0 !important;
    max-height: 52px;
}

.navbar-nav {
    max-height: 52px;
}

.nav-wrapper {
    padding: 0 !important;
    align-items: center;
    display: flex;
    margin: 0 auto;
    min-height: 100%;
    width: 1128px;
}

.nav {
    padding-left: 80px;
}

.search {
    border: 0 !important;
    background-color: #eef3f8 !important;
    vertical-align: middle;
}


.dropdown-wrapper {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    max-block-size: 52px;
}

.link-dropdown {
    align-items: center;
    background: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 400;
    justify-content: center;
    line-height: 1.5;
    min-height: 52px;
    min-width: 80px;
    position: relative;
    text-decoration: none;
    color: #666666 !important;
}

.img-dropdown {
    margin-top: 5px;
    border-radius: 50%;
    align-items: center;
    background: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 24px;
    width: 24px;
}

.toggle-dropdown {
    padding: 0 !important;
}

.toggle-dropdown:hover {
    color: black !important;
}

.text-dropdown {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.main-dropdown {
    font-size: 16px;
    color: black;
    font-weight: 500;
}

.secondary-dropdown {
    font-size: 14px;
    color: #666666;
}

.line {
    border-right: 1px solid #e0e0e0 !important;
}

.premium {
    text-align: center;
    max-width: 100px;
    word-wrap: break-word;
    color: #915907;
}

.nav-link.prem:hover {
    text-decoration: underline;
}

.link-dropdown:hover {
    color:black !important;
}

.svg.path {
    color: #666666;
}

.work-modal {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    right: -320px;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}