.card {
  border-radius: 10px !important;
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.125); */
}
.card.card-link {
  box-shadow: none;
}
.card .card-body {
  transition: 0.3s;
}
.card .card-img-top-div {
  border-radius: 5px 5px 0px 0px !important;
  max-height: 100px;
  overflow: hidden;
  z-index: 0;
  position: relative;
}
.card .card-img-top-div.card-img-top-profile {
  max-height: 200px;
}
.card .card-img-top-div:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  width: 100%;
  height: 100%;
}
.card .card-img-top-div .card-img-top {
  top: -50px;
  position: relative;
}
.card .card-pic {
  position: relative;
  margin-top: -110px;
}
.card .card-pic .rounded-circle {
  border: 2px solid #fff;
}
.card .card-user-details p {
  line-height: 1;
}
.card .card-link {
  cursor: pointer;
}
.camera {
  font-size: medium;
  margin-left: 670px;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.viewed p {
  margin-bottom: 0px;
}

.viewed ul {
  padding-inline-start: 0px;
}
.viewed ul li {
  list-style-type: none;
}
